appdirs==1.4.4
attrs==23.1.0
beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.2.0
colorama==0.4.6
colorlog==6.7.0
idna==3.4
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
lxml==4.9.3
online-judge-api-client==10.10.1
online-judge-tools==11.5.1
referencing==0.30.2
requests==2.31.0
rpds-py==0.10.2
soupsieve==2.5
toml==0.10.2
urllib3==2.0.4
